body{
    margin: 20px;
    background-color: darkkhaki;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.my-img{
    width: 150px;
    border-radius: 50%;
}
.card{
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 200px auto;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    border-bottom: 15px solid black;
    border-top: 5px solid purple;
    background: #ddebf8;
    color: #2b2839;
    
    
}

.card:hover{
    background-color: black;
    color: antiquewhite;

}


